version: '3.7'
services:
  minio1:
    image: minio/minio
    hostname: minio-1
    volumes:
      - ${HOMEVOLUME:-./data}:/export
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: ${ACCESS_KEY}
      MINIO_SECRET_KEY: ${SECRET_KEY}
    command: server /export
    healthcheck:
      test: ["CMD", "curl", "-f", "${S3URL}/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
