version: '3.7'
services:
  minio1:
    image: minio/minio
    hostname: minio-1
    volumes:
      - {{ MINIO_HOMEVOLUME }}:/export
    ports:
      - 127.0.0.1:9002:9000
      - 127.0.0.1:9001:9001
    environment:
      MINIO_ROOT_USER: {{ MINIO_ACCESS_KEY }}
      MINIO_ROOT_PASSWORD: {{ MINIO_SECRET_KEY }}
    command: server /export --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "{{ MINIO_S3URL }}/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

